.aconfldset fieldset legend {
    font-weight: bold;
    font-size:18px;
}

.aconmeetinforow {
    margin-left:auto;
    margin-right:auto;
    width:60%;
  }

.aconmeetinforow .aconlabeltitle {
    font-weight: bold;
}

.aconmeetinforow .aconlabeltitle .aconlabeltext  {
    display: inline;
}

.aconbtnrow {
    margin-left:auto;
    margin-right:auto;
    width:50%;
    text-align:center;
}

.aconbtnrow .aconbtnjoin, .aconbtnrow .aconbtnroles {
    display: inline;

}

#aconmeetnametitle {
    margin-right: 30px;
}

#aconmeeturltitle {
    margin-right: 40px;
}

#aconmeetstarttitle {
    margin-right: 4px;
}

#aconmeetendtitle {
    margin-right: 9px;
}

#aconmeetsummarytitle {
    margin-right: 3px;
}

#aconmeetsummarytxt {
/*    padding-left: 50px;*/
}

#aconmeeturlinfo {
    margin-right: 20px;
}

